{% extends "base.html" %}
{% from "ui/macros/listing.html" import listing_card %}

{% block title %}Register Blog{% endblock %}

{% block content %}

<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <h1 class="text-3xl font-bold mb-6">Search Results for "{{ query }}"</h1>
    {% if listings %}
        {% for listing in listings %}
            <div class="mb-4">
            {{
                listing_card(listing)
            }}
            </div>
        {% endfor %}
        
    {% else %}
        <p class="text-gray-600">No results found for "{{ query }}". Please try different keywords.</p>
    {% endif %}
</div>

{% endblock %}