{# templates/admin/users/form.html #}

<form method="post" action="{{ action }}">
    {{ form.hidden_tag() }}

    <div>
        <label for="{{ form.email.id }}">{{ form.email.label.text }}</label>
        {{ form.email }}
        {% for e in form.email.errors %}
            <p>{{ e }}</p>
        {% endfor %}
    </div>

    <div>
        <label for="{{ form.password.id }}">{{ form.password.label.text }}</label>
        {{ form.password }}
        {% for e in form.password.errors %}
            <p>{{ e }}</p>
        {% endfor %}
    </div>

    <div>
        <!-- totp code -->
        <label for="{{ form.totp_code.id }}">{{ form.totp_code.label.text }}</label>
        {{ form.totp_code }}
        {% for e in form.totp_code.errors %}
            <p>{{ e }}</p>
        {% endfor %}
    </div>

    <div>
        {{ form.remember_me }}
        <label for="{{ form.remember_me.id }}">{{ form.remember_me.label.text }}</label>
        {% for e in form.remember_me.errors %}
            <p>{{ e }}</p>
        {% endfor %}
    </div>

    <div>
        {{ form.submit }}
    </div>
</form>